In [4]:
print("Raghu is GOODBOY")

Raghu is GOODBOY

In [7]:
print('jaihindh')

aihindh

In [9]:
iNTRODUCTION TO PYTHON PROGRAMMINF

In [ ]:
#uNDERSTAND THE VARIABLES IN PYTHON

In [11]:
X=3
Y=2

Z=X+Y
print(Z)

5

In [ ]:
Rules for declaring variabled in python

In [ ]:
Rule 1:  No name spaces while declaring the variable name

In [12]:
first name='raghu'
print(first name)

SyntaxError: invalid syntax (3374322904.py, line 1)

In [13]:
firstname='raghu'
print(firstname)

raghu

In [ ]:
Rule no: 2  Variable name should not with number**

In [14]:
1name='Naveen'
print(iname)

SyntaxError: invalid decimal literal (579330736.py, line 1)

In [15]:
name1='Naveen'
print(name1)

Naveen

In [ ]:
Rule No: 3--Variable name should not contain any special charcters
    @#$&

In [16]:
@name='Naveen'
print(@name)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (247143476.py, line 1)

In [ ]:
Intraduction to data types in python

In [ ]:
1. String----------STR
2.Number---Integers and Float(Decimals) 
3.List
4.Tuple
5. dictionaries--------dict

In [ ]:
classfication of data types

In [ ]:
1. Mutable datatypes---------Which we can edit and alter---Flexible in nature
2.Immutable datatypes---Which we cannot be able to edit or alter---Fixed in nature

In [ ]:
Intraduction to string datatype.

Defination : A string is a series of charcters declared in quotes

In [ ]:
classfication: it is an immutable datatype

In [ ]:
how to declare the string datatype---Single quote or using docuble quite

In [17]:
name='raghu'
print(name)

raghu

In [20]:
name1="ravi"
print(name1)

ravi

In [ ]:
Intraduction to string methods : built in programs available in pythos

In [21]:
type(name)

str

In [26]:
name1=2323
print(name1)

2323

In [27]:
type(name1)

int

In [29]:
name1='busireddy Raghunadhareddy'
print(name1)

Busireddy Raghunadhareddy

In [ ]:
# Req: correcting the format:

In [30]:
print(name1.title())

Busireddy Raghunadhareddy

In [ ]:
# Req: I want name should display in upper case letters..........:

In [33]:
print(name1.upper())

BUSIREDDY RAGHUNADHAREDDY

In [35]:
# Req: I want name should display in lower case letters..........:

In [34]:
print(name1.lower())

busireddy raghunadhareddy